<!doctype html>
<html>
	<head>
		<head>
		<title>Todos - List</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body ng-app="todosApp">
		<h1>Welcome, <%=name%></h1>
		<div ng-controller="TodosController" ajax-container>
			<input type="text" ng-model="todo.title"/>
			<textarea ng-model="todo.description"></textarea>
			<input type="button" value="Save" ng-click="save()"/>
			<ul>
				<li ng-repeat="todo in todos">
					<h3>{{todo.title}}</h3>
					<p>{{todo.description}}</p>
					<input type="checkbox" ng-checked="todo.completed"/>
					<input type="button" value="Delete" ng-click="delete(todo._id)"/>
				</li>
			</ul>
		</div>		
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/underscore-min.js"></script>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/directives.js"></script>
		<script type="text/javascript" src="/js/controllers.js"></script>		
	</body>
</html>